<button
  mat-button
  [color]="options.buttonColor"
  [class.active]="options.active"
  [class.fullWidth]="options.fullWidth"
  [class.mat-raised-button]="options.raised"
  [class.mat-stroked-button]="options.stroked"
  [class.mat-flat-button]="options.flat"
  [disabled]="options.active || options.disabled"
>
  <mat-icon *ngIf="options.iconName" [color]="options.iconColor">{{ options.iconName }}</mat-icon>

  <span>{{ options.text }}</span>

  <mat-progress-bar
    class="bar"
    *ngIf="options.active && !options.disabled"
    [color]="options.barColor"
    [mode]="options.mode"
    [value]="options.value"
  >
  </mat-progress-bar>
</button>
